
.styleDiv{
    margin: auto;
    width: 70%;
    text-align: center;
} 
#navbar{
    margin-bottom: 150px;
    background-color: darkgray;
    height: 50px;
    text-align: center;



}
.btnEdit{
    margin-right: 10px;
}